.boy{
	background-color: white;
	margin-left: 20%;
	p{
		font-size: 50px;
	}
	.li{
		font-size: 20px;
	}
}
.navbar{
	width: 100%;
	margin:0;
	background-color: #3b5998;
	p{color: white;}
	.navbar-brand{color: white;
		margin-top: 4px;
		margin-bottom: 7px;

		font-size: 35px;}
	.navbar-form{
		margin-top: 12px;
		margin-bottom: 1px;
		p{margin-bottom: 2px;}
	}
	.form-control{
		width:450px;
	}
	.pokename{
		color: white;
		margin-left: 150px;
		font-size: 20px;

		text-decoration: none;
	}
	#profthumb{
		width:40px;
		height: auto;
		margin-top: 6px;
		margin-bottom: 0px;
	}
}
.month{
	width: 86px;
}
body .no-dec{
	text-decoration: none;
	height:30px;
}
.nav{
	width: 100%;
}
.row-about{
	background-color: gray;
}
.img-responsive{
	height:300px;
	width: 100%;
	object-fit:contain;
}
.edit-button{
	text-align: center;
	font-size: 30px;
    }
.media{
	outline: black solid thin;
	margin:30px 20px 20px 20px;
	height: 75px;
	width: 500px;
	button{
		margin: 0 0 0 100px;
	}
}
.outlin{
	outline: black solid thin;
}
.panel-size{
	width: 100%;
}
.spacer{
	margin-bottom: 30px;
}
